<html>
    <head>
        <title>Chess Images</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='javascript/my_script.js') }}">
            $(document).ready(function(){
                $("").___();
            });
        </script>
    </head>
    <body>
        <img src="{{ url_for('static', filename='img/my_img.jpg') }}">
        <h1>User:</h1>
        <h3>{{session['name']}}</h3> <!--can be passed in as {{name}} as defined previously-->
        <h3>{{session['email']}}</h3>
        <input type="hidden" name="action" value="register">
        <!-- hidden form example-->
        <form method="post" action="/process">
            <input type="hidden" name="action" value="register">
            <input type="text" name="first_name">
            <input type="text" name="last_name">
            <input type="text" name="email">
            <input type="password" name="password">
            <input type="submit" value="Register">
        </form>
        <form method="post" action="/process">
            <input type="hidden" name="action" value="login">
            <input type="text" name="email">
            <input type="password" name="password">
            <input type="submit" value="Login">
        </form>
    </body>
</html>